@model MonNameSpaceGestionCourrier.Models.MouvementCourrier

<h2>Détails du mouvement de courrier</h2>

<div>
    <h4>Courrier</h4>
    <p>@Model.CourrierId</p>
    <h4>Statut</h4>
    <p>@Model.Statut</p>
    <h4>Acteur</h4>
    <p>@Model.Acteur</p>
    <h4>Date de mouvement</h4>
    <p>@Model.DateMouvement</p>
    <h4>Nom du dépositaire</h4>
    <p>@Model.Nom_depositaire</p>
</div>
