@model MonNameSpaceGestionCourrier.ViewModels.CourrierViewModel

<head>
    <link rel="stylesheet" href="~/css/Courrier.css" />
</head>

<h2>Courrier vaovao</h2>

@using (Html.BeginForm("CreateCourrier", "Courrier", FormMethod.Post))
{
    <div class="form-group">
        <div class="label">
            @Html.LabelFor(model => model.Objet)
        </div>
        <div class="input-wrapper">
            @Html.TextBoxFor(model => model.Objet, new { @class = "form-control", id
        = "Objet" })
        </div>
    </div>

    <div class="form-group">
        <div class="label">
            @Html.LabelFor(model => model.DateArrivee)
        </div>
        <div class="input-wrapper">
            @Html.TextBoxFor(model => model.DateArrivee, new { @class =
        "form-control", id = "DateArrivee" })
        </div>
    </div>

    <div class="form-group">
        <div class="label">
            @Html.LabelFor(model => model.Expediteur)
        </div>
        <div class="input-wrapper">
            @Html.TextBoxFor(model => model.Expediteur, new { @class =
        "form-control", id = "Expediteur" })
        </div>
    </div>

    <div class="form-group">
        <div class="label">
            @Html.LabelFor(model => model.Destinataire)
        </div>
        <div class="input-wrapper">
            @Html.TextBoxFor(model => model.Destinataire, new { @class =
        "form-control", id = "Destinataire" })
        </div>
    </div>

    <div class="form-group">
        <div class="label">
            @Html.LabelFor(model => model.Urgent_O_N)
        </div>

        <div class="input-wrapper">
            <input type="checkbox" id="Urgent_O_N" name="Urgent_O_N"
                class="form-check-input" @(Model.Urgent_O_N == "O" ? "checked" : "")>
            <label for="Urgent_O_N" class="form-check-label">Urgent</label>
            <input type="hidden" name="Urgent_O_N" value="N">
            <!-- Valeur par défaut -->
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}
