@model MonNameSpaceGestionCourrier.Models.Courrier

<h2>Détails du courrier</h2>

<div>
    <h4>Objet</h4>
    <p>@Model.Objet</p>
    <h4>Date d'arrivée</h4>
    <p>@Model.DateArrivee</p>
    <h4>Expéditeur</h4>
    <p>@Model.Expediteur</p>
    <h4>Destinataire</h4>
    <p>@Model.Destinataire</p>
    <h4>Urgent</h4>
    <p>@Model.Urgent_O_N</p>
</div>
